almatasks==1.5.2
astropy==5.2.1
casadata==2022.9.5
casampi==0.5.01
casaplotms==1.8.7
casaplotserver==1.4.6
casashell==6.5.2.26
casatasks==6.5.2.26
casatestutils==6.5.2.26
casatools==6.5.2.26
casaviewer==1.6.6
mpi4py==3.1.4
numpy==1.24.2
python-casacore==3.5.2
scipy==1.10.1
